<!DOCTYPE html>
<html
  lang="<%= I18n.locale %>"
  class="
    <% if current_article %>
      <% if current_article.data.theme %>
        <%= "themes--#{current_article.data.theme}" %>
      <% else %>
        <%= "themes--#{current_article.data.category}" %>
      <% end %>
    <% elsif current_page.data.theme %>
      <%= "themes--#{current_page.data.theme}" %>
    <% end %>
    "
>
  <head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title><%= data.site.title %></title>
    <%= stylesheet_link_tag "main" %>
  </head>

  <body class="site">
    <header class="site__header">
      <%= partial "partials/header" %>
    </header>

    <main
      class="
        site__main
        <%= current_resource.options[:layout] if current_resource.options[:layout].present? %>
        "
      role="main"
    >
      <%= yield %>
    </main>

    <footer class="site__footer">
      <%= partial "partials/footer" %>
    </footer>

    <%= partial "partials/analytics" %>
  </body>
</html>
