<!DOCTYPE html>
<html
  lang="<%= I18n.locale %>"
  class="
    <% if current_article %>
      <% if current_article.data.theme %>
        <%= "themes--#{current_article.data.theme}" %>
      <% else %>
        <%= "themes--#{current_article.data.category}" %>
      <% end %>
    <% elsif current_page.data.theme %>
      <%= "themes--#{current_page.data.theme}" %>
    <% end %>
    "
>
  <head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title><%= data.site.title %></title>
    <%= stylesheet_link_tag "main" %>
  </head>

  <body class="site">
    <% unless @hide_header.present? %>
      <header class="site__header">
        <%= partial "partials/header" %>
      </header>
    <% end %>

    <main
      class="
        site__main
        <% if current_resource.options[:layout].present? %>
          <%= current_resource.options[:layout] %>
        <% elsif current_article %>
          <%= current_article.data.category %>
        <% end %>
        "
      role="main"
    >
      <%= yield %>
    </main>

    <% unless @hide_footer.present? %>
      <footer class="site__footer">
        <%= partial "partials/footer" %>
      </footer>
    <% end %>

    <%= partial "partials/analytics" %>
  </body>
</html>
