<% wrap_layout :layout do %>
  <section class="section section--padded">
    <header class="section__content section__content--slim">
      <% if current_article.data.dept %>
        <div class="flytitle">
          <span class="flytitle__item flytitle__dept">
            <%= current_article.data.dept %>
          </span>
        </div>
      <% end %>

      <h1>
        <%= current_article.title %>
      </h1>

<<<<<<< HEAD
      <small>
        <% date = Date.parse(current_article.data.publication_date).strftime("%-d %b %Y") %>
=======
      <p class="fine-print">
        <%= reading_time_in_minutes(current_article.body) %> min read ·

        <% date = Date.parse(current_article.data.publication_date).strftime("%-d&nbsp;%b&nbsp;%Y") %>
>>>>>>> 8ee3134... More opinion styles
        <%= link_to(
          "published in #{current_article.data.publication} on&nbsp;#{date}",
          current_article.data.publication_url,
          class: "u-link--subtle",
        ) %>
      </p>
    </header>

  <% if current_article.data.path.present? %>
      <div class="section__content section__content--padded">
        <%= image_tag current_article.data.path %>
      </div>
  <% end %>

    <article class="section__content section__content--slim">
      <%= yield %>
    </article>
  </section>
<% end %>
