<% wrap_layout :layout do %>
  <section class="section section--padded">
    <header class="section__content section__content--slim">
      <% if current_article.data.dept %>
        <p class="flytitle flytitle--dept">
          <%= current_article.data.dept %>
        </p>
      <% end %>

      <h1 class="heading heading--literary">
        <%= current_article.title %>
      </h1>

      <p class="fine-print inline-list">
        <span>
          <%= reading_time_in_minutes(current_article.body) %> min read
        </span>

        <span>
          <% if current_article.data.publication.present? %>
            <% date = date_to_s(current_article.data.publication_date) %>
            <% if current_article.data.publication_url.present? %>
              <%= link_to(
                "published in #{current_article.data.publication} on&nbsp;#{date}",
                current_article.data.publication_url,
                class: "u-link--subtle",
              ) %>
            <% else %>
              published in <%= current_article.data.publication %> on&nbsp;<%= date %>
            <% end %>
          <% else %>
            <%= date_to_s(current_article.data.date) %>
          <% end %>
        </span>
      </p>
    </header>

    <div class="section__content">
      <%= image_tag(
        hero_image_path(current_resource.path),
        {alt: current_article.data.hero_image_description},
      ) %>
    </div>

    <article class="section__content section__content--slim literary-content">
      <%= yield %>
    </article>

    <% if current_article.data.notes_html %>
      <div class="section__content section__content--slim u-margin-top">
        <% current_article.data.notes_html.each do |note| %>
          <div class="fine-print">
            <%= note %>
          </div>
        <% end %>
      </div>
    <% end %>
  </section>
<% end %>
