<% wrap_layout :layout do %>
  <section class="section section--padded">
    <header class="section__content section__content--slim">
      <% if current_article.data.dept %>
        <p class="flytitle flytitle--dept">
          <%= current_article.data.dept %>
        </p>
      <% end %>

      <h1 class="heading heading--literary">
        <%= current_article.title %>
      </h1>

      <p class="fine-print inline-list">
        <span class="inline-list__item">
          <%= reading_time_in_minutes(current_article.body) %> min read
        </span>

        <% date = date_to_s(current_article.data.publication_date) %>
        <span class="inline-list__item">
          <%= link_to(
            "published in #{current_article.data.publication} on&nbsp;#{date}",
            current_article.data.publication_url,
            class: "u-link--subtle",
          ) %>
        </span>
      </p>
    </header>

    <div class="section__content">
      <%= image_tag(
        hero_image_path(current_resource.path),
        {alt: current_article.data.hero_image_description},
      ) %>
    </div>

    <article class="section__content section__content--slim literary-content">
      <%= yield %>
    </article>
  </section>
<% end %>
