<% wrap_layout :layout do %>
  <article class="section section--padded">
    <header class="section__content section__content--slim">
      <h1 class="heading">
        <%= current_page.data.title %>
      </h1>

      <%= partial "plays/script-stats" %>
    </header>

    <% if current_page.data.hero_image_description.present? %>
      <section class="section__content">
        <%= image_tag(
          hero_image_path(current_resource.path),
          {alt: current_page.data.hero_image_description},
        ) %>
      </section>
    <% end %>

    <section class="section__content section__content--slim">
      <% if current_page.data.logline.present? %>
        <p class="play__logline">
          <%= current_page.data.logline %>
        </p>
      <% end %>

      <%= partial "plays/actions" %>
    </section>

    <% if current_page.data.productions.present? %>
      <section class="section__content section__content--slim">
        <h2>
          Production
        </h2>

        <div class="stack">
          <% current_page.data.productions.each_with_index do |production, index| %>
            <%= partial "plays/production", locals: { production: production, index: index } %>
          <% end %>
        </div>
      </section>
    <% end %>

    <% if current_page.data.quotes.present? %>
      <section class="section__content section__content--slim">
        <h2>
          Reception
        </h2>

        <% current_page.data.quotes.each do |quote| %>
          <%= partial "plays/quote", locals: { quote: quote } %>
        <% end %>
      </section>
    <% end %>

    <section class="section__content section__content--slim">
      <%= yield %>
    </section>
  </article>
<% end %>
