<% wrap_layout :layout do %>
  <article class="section section--padded">
    <header class="section__content section__content--slim">
      <h1 class="heading">
        <%= current_page.data.title %>
      </h1>

      <%= partial "plays/script-stats" %>
    </header>

    <% if current_page.data.hero_image_description.present? %>
      <section class="section__content">
        <%= image_tag(
          hero_image_path(current_resource.path),
          {alt: current_page.data.hero_image_description},
        ) %>
      </section>
    <% end %>

    <section class="section__content section__content--slim">
      <% if current_page.data.logline.present? %>
        <p class="play__logline">
          <%= current_page.data.logline %>
        </p>
      <% end %>

      <%= partial "plays/actions" %>

      <%= yield %>
    </section>
  </article>
<% end %>
