<% wrap_layout :layout do %>
  <section class="section section--padded">
    <header class="section__content section__content--slim">
      <p class="flytitle">
        <%= link_to titleize(current_article.data.category), "/#{current_article.data.category}", class: "u-link--incognito" %>
      </p>

      <h1 class="heading heading--literary">
        <%= current_article.title %>
      </h1>

      <p class="fine-print inline-list">
        <span>
          <%= reading_time_in_minutes(current_article.body) %> min read
        </span>

        <span>
          <% if current_article.data.publication.present? %>
            <% date = date_to_s(current_article.data.publication_date) %>
            <%= link_to(
              "published in #{current_article.data.publication} on&nbsp;#{date}",
              current_article.data.publication_url,
              class: "u-link--subtle",
            ) %>
          <% else %>
            <%= date_to_s(current_article.data.date) %>
          <% end %>
        </span>
      </p>
    </header>

    <div class="section__content">
      <%= image_tag(
        hero_image_path(current_resource.path),
        {alt: current_article.data.hero_image_description},
      ) %>
    </div>

    <article class="section__content section__content--slim literary-content">
      <%= yield %>
    </article>

    <div class="section__content section__content--secondary">
      <dl class="sidenote">
        <dt class="sidenote__title">
          <%= current_article.title %>
        </dt>

        <% if current_article.data.writer %>
          <dd class="sidenote__item">
            Written by <%= current_article.data.writer %>
          </dd>
        <% end %>

        <% if current_article.data.director %>
          <dd class="sidenote__item">
            Directed by <%= current_article.data.director %>
          </dd>
        <% end %>

        <% if current_article.data.venue %>
          <dd class="sidenote__item">
            Playing at <%= current_article.data.venue %>
          </dd>
        <% end %>

        <% if current_article.data.cast %>
          <dd class="sidenote__item">
            With <%= current_article.data.cast %>
          </dd>
        <% end %>

        <% if current_article.data.running_time_in_minutes %>
          <dd class="sidenote__item">
            <%= current_article.data.running_time_in_minutes.to_s %> min
          </dd>
        <% end %>

        <% if current_article.data.genre %>
          <dd class="sidenote__item">
            <%= current_article.data.genre %>
          </dd>
        <% end %>
      </dl>
    </div>
  </section>
<% end %>
