<div class="resume__item">
  <% if experience.title %>
    <h3 class="resume__term">
      <% if experience.short_title %>
        <abbr title="<%= experience.title %>">
          <%= experience.short_title %>
        </abbr>
      <% else %>
        <%= experience.title %>
      <% end %>
    </h3>
  <% end %>

  <% if experience.highlights_html %>
    <details
      class="resume__description"
      <% if experience.featured %>
        open
      <% end %>
    >
  <% else %>
    <div class="resume__description">
  <% end %>
    <% if experience.highlights_html %>
      <summary>
    <% end %>
      <% if experience.organization_url %>
        <%= link_to experience.organization, experience.organization_url %>
      <% else %>
        <%= experience.organization %>
      <% end %>

      <div class="resume__duration">
        <time
          datetime="<%= experience.start_date %>"
          class="resume__date"
        >
          <%= Date.parse(experience.start_date.to_s).year %>
        </time>

        <% if experience.end_date %>
          <% start_year = Date.parse(experience.start_date.to_s).year %>
          <% end_year = Date.parse(experience.end_date.to_s).year %>

          <% if end_year != start_year %>
            <time
              datetime="<%= experience.end_date %>"
              class="resume__date"
            >
              <%= Date.parse(experience.end_date.to_s).year %>
            </time>
          <% end %>
        <% else %>
          <span class="resume__date">
            present
          </span>
        <% end %>

        <% if experience.location %>
          <span class="resume__location">
            <%= experience.location %>
          </span>
        <% end %>
      </div>
    <% if experience.highlights_html %>
      </summary>
    <% end %>

    <% if experience.highlights_html %>
      <ul class="resume__highlights">
        <% experience.highlights_html.each do |highlight| %>
          <li>
            <%= highlight %>
          </li>
        <% end %>
      </ul>
    <% end %>
  <% if experience.highlights_html %>
    </details>
  <% else %>
    </div>
  <% end %>
</div>
