<section class="section">
  <div class="section__content footer">
    <nav class="inline-list">
      <%= link_to "Code", "/code", class: "u-link--incognito" %>
      <%= link_to "Design", "/design", class: "u-link--incognito" %>
      <%= link_to "Puzzles", "/puzzles", class: "u-link--incognito" %>
      <%= link_to "Writing", "/writing", class: "u-link--incognito" %>
      <%= link_to "Plays", "/plays", class: "u-link--incognito" %>
    </nav>

    <nav class="inline-list">
      <%= link_to "GitHub", "https://github.com/keiranking", class: "u-link--incognito" %>

      <span>
        &copy; <%= Time.now.year %> Keiran King
      </span>
    </nav>
  </div>
</section>
