<section class="section section--padded">
  <div class="section__content section__content--slim">
    <p>
      Product designer at <%= link_to "thoughtbot", "https://www.thoughtbot.com" %> in NYC, helping clients like
      <%= link_to "Dome", "https://www.domecompass.com" %>,
      <%= link_to "Future Method", "https://www.futuremethod.com" %> and
      <%= link_to "Oscar Health", "https://www.hioscar.com" %>
      find markets and build useful, intuitive tools.
    </p>
  </div>
</section>

<section class="section">
  <div class="section__content">
    <ul>
      <% blog.articles.each do |article| %>
        <li>
          <h3>
            <%= link_to article.title, article, class: "u-link--incognito" %>
          </h3>

          <p>
            <%= article.summary if defined? article.summary %>
          </p>
        </li>
      <% end %>
    </ul>
  </div>
</section>
