<% @hide_footer = true %>

<section class="section section--padded">
  <div class="section__content section__content--slim">
    <%= image_tag(
      "avatar.jpg",
      alt: "Keiran King",
      class: "avatar u-margin-bottom",
    ) %>

    <p>
      <%= link_to "Product leader", "/resume" %> building web3
      experiences for clients in DeFi, SoFi, and other high-growth
      and/or regulated industries.
    </p>

    <ul class="fine-print inline-list inline-list--bulleted">
      <li>
        <%= link_to "Resumé", "/resume" %>
      </li>

      <li>
        <%= link_to "LinkedIn", "https://www.linkedin.com/in/keiranking" %>
      </li>

      <li>
        <%= link_to "GitHub", "https://www.github.com/keiranking" %>
      </li>
    </ul>

    <div class="u-margin-top--double">
      <h2 class="flytitle">
        Work
      </h2>

      <ul>
        <li>
          <em><%= link_to "Imposter Strategies", "https://newyork2020.theleaddeveloper.com/talks#keiran-king" %></em>,
          LeadDev New York
        </li>

        <li>
          <em><%= link_to "A Hop of Faith", "https://www.tentative.fm/77" %></em>,
          Tentative (with Kyle Fiedler, Tyson Gach)
        </li>

        <li>
          <em><%= link_to "Solving Real Problems with Design", "https://www.youtube.com/watch?v=XAqfYvcib2I" %></em>,
          NYC Design Week
        </li>
      </ul>
    </div>

    <div class="u-margin-top--double">
      <h2 class="flytitle">
        Play
      </h2>

      <ul>
        <li>
          <%= link_to "Phil", "https://keiranking.com/phil" %>,
          a web app for making crosswords
        </li>

        <li>
          <%= link_to "Gary", "https://keiranking.com/gary" %>,
          a word game for alliterates
        </li>
      </ul>
    </div>
  </div>
</section>
