---
name: Keiran King
email: me@keiranking.com
phone: (415) 941-9298
technical_portfolio_url: https://github.com/keiranking
professional_history_url: https://www.linkedin.com/in/keiranking
address:
  - 7100 Kennedy Blvd E, Apt 3P
  - Guttenberg, NJ 07093

work:
  - title: Head of Product Management
    organization: thoughtbot
    organization_url: https://www.thoughtbot.com/
    organization_description: Web/mobile software consultancy
    location: New York, NY
    start_date: 2021-02-08
    summary: Senior executive for product strategy and management at top-10 US web &amp; mobile software consultancy.
    highlights_html:
      - Responsible for PM client portfolio totaling 35% of company revenue.
      - Managed and mentored PM direct reports in 25-person team.
      - Led cross-functional SaaS product teams for Relias ($135M rev.), Beyond Finance ($55M) and other marquee clients in healthtech and fintech.

  - title: Product Strategist
    previous_role: true
    start_date: 2018-05-02
    end_date: 2021-02-07
    highlights_html:
      - Product development for 15+ clients in ecommerce (incl. marketplaces), healthtech and fintech.
      - Launched 5 MVP products in 3-4 months each using Agile methods.
      - Wrote company guide on
        <a target="_blank" href="https://thoughtbot.com/playbook/validation/jtbd">Jobs-to-be-Done</a>,
        used on 50+ client projects.

  - title: Columnist
    organization: The Gleaner
    organization_description: Leading national newspaper
    location: Kingston, Jamaica
    start_date: 2014-02-01
    end_date: 2015-06-30
    highlights_html:
      - Created and wrote popular newspaper column on predatory business
        and issues of national interest.
      - Regular guest on local radio and TV talk shows.

  - title: Founder
    organization: Backstory
    organization_description: Media startup
    location: Kingston, Jamaica
    start_date: 2011-01-01
    end_date: 2014-07-31
    highlights_html:
      - Founded and scaled media startup to 10 employees and revenue of J$7.8M.
      - Negotiated advertising partnerships with Toyota, Snapple, et al. worth J$3M annually.
      - Developed internship program with 75% female enrollment.

memberships:
  - title: ProductTank Organizer
    organization: Mind the Product
    organization_url: https://www.mindtheproduct.com/
    organization_description: The world’s largest product management community, with 150,000 members across 200 cities
    location: Toronto, Canada
    start_date: 2020-12-01

appearances_html:
  - <em>Imposter Strategies</em> (2021 Lead Dev NYC)
  - Product Strategy Consulting course (2020, thoughtbot)
  - <a target="_blank" href="https://www.youtube.com/watch?v=XAqfYvcib2I"><em>Solving Real Problems with Design</em></a> (2019 NYC Design Week)
  - <em>From "Hello, world" to The World's Best Crossword Maker in 8 weeks</em> (2018, BrooklynJS)
  - Keynote Speaker (2014, Jamaicans for Justice annual gala)

education:
  - organization: Recurse Center
    organization_url: https://www.recurse.com/
    location: New York, NY
    start_date: 2017-08-11
    end_date: 2017-11-21

  - title: Master of Fine Arts
    organization: California College of the Arts
    organization_url: https://www.cca.edu/
    location: San Francisco, CA
    start_date: 2014-08-15
    end_date: 2016-05-15

  - title: Bachelor of Science
    organization: Ithaca College
    organization_url: https://www.ithaca.edu/
    location: Ithaca, NY
    start_date: 2004-08-15
    end_date: 2008-05-15
---
<% @hide_header = true %>
<% @hide_footer = true %>

<div class="section section--padded">
  <div class="section__content resume">
    <address class="resume__header">
      <h2 class="resume__author">
        <%= link_to current_page.data.name, "/", class: "u-link--incognito" %>
      </h2>

      <div class="resume__contact-info">
        <p>
          <% current_page.data.address.each do |address_line| %>
            <%= address_line %><br />
          <% end %>
        </p>
      </div>

      <div class="resume__contact-info">
        <%= link_to(
          current_page.data.email,
          "mailto:#{current_page.data.email}",
          class: "u-link--incognito",
        ) %>

        <%= link_to(
          current_page.data.phone,
          "tel:+1#{current_page.data.phone.gsub(/\D/, '')}",
          class: "u-link--incognito",
        ) %>

        <%= link_to(
          abridge_url(current_page.data.professional_history_url),
          current_page.data.professional_history_url,
        ) %>

        <%= link_to(
          abridge_url(current_page.data.technical_portfolio_url),
          current_page.data.technical_portfolio_url,
        ) %>
      </div>
    </address>

    <% if current_page.data.bio %>
      <h2 class="resume__heading">
        Summary
      </h2>

      <section class="resume__section">
        <p>
          <%= current_page.data.bio %>
        </p>
      </section>
    <% end %>

    <h2 class="resume__heading">
      Professional Experience
    </h2>

    <section class="resume__section">
      <% current_page.data.work.each do |experience| %>
        <%= partial "resume/experience", locals: { experience: experience } %>
      <% end %>
    </section>

    <h2 class="resume__heading">
      Memberships
    </h2>

    <section class="resume__section">
      <% current_page.data.memberships.each do |experience| %>
        <%= partial "resume/experience", locals: { experience: experience } %>
      <% end %>
    </section>

    <% if current_page.data.appearances_html %>
      <h2 class="resume__heading">
        Speaking
      </h2>

      <section class="resume__section">
        <ul>
          <% current_page.data.appearances_html.each do |appearance| %>
            <li>
              <%= appearance %>
            </li>
          <% end %>
        </ul>
      </section>
    <% end %>

    <% if current_page.data.technical_skills %>
      <h2 class="resume__heading">
        Technical Skills
      </h2>

      <section class="resume__section">
        <p>
          <%= current_page.data.technical_skills.join(", ") %>
        </p>
      </section>
    <% end %>

    <h2 class="resume__heading">
      Education
    </h2>

    <section class="resume__section">
      <% current_page.data.education.each do |experience| %>
        <%= partial "resume/experience", locals: { experience: experience } %>
      <% end %>
    </section>
  </div>
</div>
