<div class="section section--padded">
  <div class="section__content resume">
    <address class="resume__header">
      <h2 class="resume__author">
        <%= data.resume.name %>
      </h2>

      <div class="resume__contact-info">
        <p>
          <%= data.resume.address_street %><br />
          <%= data.resume.address_city %>
        </p>
      </div>

      <div class="resume__contact-info">
        <%= link_to(
          data.resume.email,
          "mailto:#{data.resume.email}",
          class: "u-link--incognito",
        ) %>

        <%= link_to(
          data.resume.phone,
          "tel:+1#{data.resume.phone.gsub(/\D/, '')}",
          class: "u-link--incognito",
        ) %>
      </div>
    </address>

    <section class="resume__section">
      <% data.resume.work.each do |experience| %>
        <%= partial "partials/experience", locals: { experience: experience } %>
      <% end %>
    </section>

    <section class="resume__section">
      <% data.resume.education.each do |experience| %>
        <%= partial "partials/experience", locals: { experience: experience } %>
      <% end %>
    </section>
  </div>
</div>
