<div class="section section--padded">
  <div class="section__content resume">
    <address class="resume__header">
      <h2 class="resume__author">
        <%= data.resume.name %>
      </h2>

      <div class="resume__contact-info">
        <p>
          <%= data.resume.address_street %><br />
          <%= data.resume.address_city %>
        </p>
      </div>

      <div class="resume__contact-info">
        <%= link_to data.resume.email, "mailto:#{data.resume.email}" %>

        <%= link_to(
          data.resume.phone,
          "tel:+1#{data.resume.phone.gsub(/\D/, '')}"
        ) %>
      </div>
    </address>

    <section class="resume__section">
      <% data.resume.experiences.each do |experience| %>
        <div class="resume__item">
          <% if experience.title %>
            <h3 class="resume__term">
              <%= experience.title %>
            </h3>
          <% end %>

          <details
            class="resume__description"
            <% if experience.featured %>
              open
            <% end %>
          >
            <summary>
              <% if experience.organization_url %>
                <%= link_to experience.organization, experience.organization_url %>
              <% else %>
                <%= experience.organization %>
              <% end %>

              <div class="resume__duration">
                <time
                  datetime="<%= experience.start_date %>"
                  class="resume__date"
                >
                  <%= Date.parse(experience.start_date.to_s).year %>
                </time>

                <% if experience.end_date %>
                  <time
                    datetime="<%= experience.end_date %>"
                    class="resume__date"
                  >
                    <%= Date.parse(experience.end_date.to_s).year %>
                  </time>
                <% end %>
              </div>
            </summary>

            <% if experience.highlights %>
              <ul>
                <% experience.highlights.each do |highlight| %>
                  <li>
                    <%= highlight %>
                  </li>
                <% end %>
              </ul>
            <% end %>
          </details>
        </div>
      <% end %>
    </section>

    <section class="resume__section">
      <dl>
        <% data.resume.education.each do |education| %>
          <div class="resume__item">
            <% if education.title %>
              <dt class="resume__term">
                <% if education.short_title %>
                  <abbr title="<%= education.title %>">
                    <%= education.short_title %>
                  </abbr>
                <% else %>
                  <%= education.title %>
                <% end %>
              </dt>
            <% end %>

            <dd class="resume__description">
              <% if education.organization_url %>
                <%= link_to education.organization, education.organization_url %>
              <% else %>
                <%= education.organization %>
              <% end %>

              <div class="resume__duration">
                <time
                  datetime="<%= education.start_date %>"
                  class="resume__date"
                >
                  <%= Date.parse(education.start_date.to_s).year %>
                </time>

                <% if education.end_date %>
                  <time
                    datetime="<%= education.end_date %>"
                    class="resume__date"
                  >
                    <%= Date.parse(education.end_date.to_s).year %>
                  </time>
                <% end %>
              </div>
            </dd>
          </div>
        <% end %>
      </dl>
    </section>
  </div>
</div>
